body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
}

#info {
	background-color: blanchedalmond;
	position: absolute;
	top: 10px;
	width: fit-content;	
	text-align: center;
	z-index: 100;
	display:block;
}
